@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Inter-Medium.ttf') format('ttf');
}

body {
    font-family: 'Inter', sans-serif;
}
